body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: url('picture1.jpg') no-repeat center center fixed; 
    background-size: cover; /* Cover the full page */
    overflow-x: hidden; /* Prevent horizontal scrollbar due to animation */
}

.moving-text-top {
	font-size: 10vh;
    position: absolute;
	top: 10%;
    white-space: nowrap; /* Ensure text stays in one line */
    width: auto;
    color: yellow; /* Set text color to yellow */
    animation: slideIn_top 60s linear infinite;
}

.moving-text-bottom {
	font-size: 10vh;
    position: absolute;
	bottom: 10%;
	left: -100%;
    white-space: nowrap; /* Ensure text stays in one line */
    width: auto;
    color: yellow; /* Set text color to yellow */
    animation: slideIn_bottom 57s linear 3s infinite;
}

/*
@keyframes slideIn {
    0% { left: -100%; }
    10% { left: -50%; } 
    20% { left: 0%; } 
	50% { left: 50%;}
	80% { left: 90%;}
	100% { left: 100%;}
}
*/
@keyframes slideIn_top {
      0% {left: -100%;} 
	  5% {left:    2%;} 
	100% { left: 100%;}
}
@keyframes slideIn_bottom {
      0% {left: -100%;} 
	  5% {left:   10%;} 
	100% { left: 100%;}
}
