body, html {
    margin: 0;
    padding: 0;
    height: 100%;
	/*background: #33CCCC; !* Fallback *!*/
    background-image: linear-gradient(to right, #33CCCC, #33CC36);
	animation: color 42s infinite linear;
    overflow-x: hidden; /* Prevent horizontal scrollbar due to animation */
}

@keyframes color {
  0%   { background-image: linear-gradient(to right, #1d44ef, #cad4fd); }
  17%  { background-image: linear-gradient(to right, #04b406, #96ee97); }
  33%  { background-image: linear-gradient(to right, #00b6b6, #9cffff); }
  50%  { background-image: linear-gradient(to right, #95a600, #d7e39e); }
  67%  { background-image: linear-gradient(to right, #c95d29, #e5baa9); }
  83% { background-image: linear-gradient(to right, #ab4cee, #efd8ff); }
  100% { background-image: linear-gradient(to right, #a17600, #a89b79); }
}

.title {
	font-family: "Frijole", system-ui;
	font-weight: 500;
	font-style: normal;
	font-size: 10vh;
	letter-spacing: -0.05em;
    -webkit-text-stroke: 4px #252525;
    position: absolute;
	top: 1%;
    white-space: nowrap; /* Ensure text stays in one line */
    width: auto;
    color: RGB(10,10,10); /* Set text color to yellow */
    animation: movingTextTitle 60s linear infinite;
}

@keyframes movingTextTitle {
      0% {left: -100%;} 
	  5% {left:    5%;} 
	100% { left: 50%;}
}

@keyframes movingTextContent {
      0% {top: 100%;} 
	100% {top: 15%;}
}

img {
  float: left;
  margin-right: 2vh;
  height: 70vh;
}

.holiday-mon {
    display: none;
    margin: 10px;
    padding: 20px;
	
	font-size: 5vh;
	font: "Verdana";
	font-weight: bold;
    -webkit-text-stroke: 2px #363636;
    position: absolute;
	bottom: 10%;
	margin-left: 5%;
    margin-right: 5%;
    word-wrap: break-word;
    width: 90%;
	
    color: RGB(10,10,10); /* Set text color to yellow */
    animation: movingTextContent 3s linear forwards;
}

.holiday-tue {
    display: none;
    margin: 10px;
    padding: 20px;
	
	font-size: 5vh;
	font: "Verdana";
	font-weight: bold;
    -webkit-text-stroke: 2px #363636;
    position: absolute;
	bottom: 10%;
	margin-left: 5%;
    margin-right: 5%;
    word-wrap: break-word;
    width: 90%;
	
    color: RGB(10,10,10); /* Set text color to yellow */
    animation: movingTextContent 3s linear forwards;
}
.holiday-wed {
    display: none;
    margin: 10px;
    padding: 20px;
	
	font-size: 5vh;
	font: "Verdana";
	font-weight: bold;
    -webkit-text-stroke: 2px #363636;
    position: absolute;
	bottom: 10%;
	margin-left: 5%;
    margin-right: 5%;
    word-wrap: break-word;
    width: 90%;
	
    color: RGB(10,10,10); /* Set text color to yellow */
    animation: movingTextContent 3s linear forwards;
}
.holiday-thu {
    display: none;
    margin: 10px;
    padding: 20px;
	
	font-size: 5vh;
	font: "Verdana";
	font-weight: bold;
    -webkit-text-stroke: 2px #363636;
    position: absolute;
	bottom: 10%;
	margin-left: 5%;
    margin-right: 5%;
    word-wrap: break-word;
    width: 90%;
	
    color: RGB(10,10,10); /* Set text color to yellow */
    animation: movingTextContent 3s linear forwards;
}
.holiday-fri {
    display: none;
    margin: 10px;
    padding: 20px;
	
	font-size: 5vh;
	font: "Verdana";
	font-weight: bold;
    -webkit-text-stroke: 2px #363636;
    position: absolute;
	bottom: 10%;
	margin-left: 5%;
    margin-right: 5%;
    word-wrap: break-word;
    width: 90%;
	
    color: RGB(10,10,10); /* Set text color to yellow */
    animation: movingTextContent 3s linear forwards;
}
.holiday-sat {
    display: none;
    margin: 10px;
    padding: 20px;
	
	font-size: 5vh;
	font: "Verdana";
	font-weight: bold;
    -webkit-text-stroke: 2px #363636;
    position: absolute;
	bottom: 10%;
	margin-left: 5%;
    margin-right: 5%;
    word-wrap: break-word;
    width: 90%;
	
    color: RGB(10,10,10); /* Set text color to yellow */
    animation: movingTextContent 3s linear forwards;
}
.holiday-sun {
    display: none;
    margin: 10px;
    padding: 20px;
	
	font-size: 5vh;
	font: "Verdana";
	font-weight: bold;
    -webkit-text-stroke: 2px #363636;
    position: absolute;
	bottom: 10%;
	margin-left: 5%;
    margin-right: 5%;
    word-wrap: break-word;
    width: 90%;
	
    color: RGB(10,10,10); /* Set text color to yellow */
    animation: movingTextContent 3s linear forwards;
}
