body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: url('photo1.jpg') no-repeat center center fixed; 
    background-size: cover; /* Cover the full page */
    overflow-x: hidden; /* Prevent horizontal scrollbar due to animation */
	/*animation: enlargeBackground 5s infinite alternate;*/
}

@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

.moving-text-top {
	font-family: 'Verdana';
	/*font-palette: --Purples;	*/
	font-size: 12vh;
    font-weight: bolder;
    -webkit-text-stroke: 4px #252525;
    position: absolute;
	top: 5%;
    white-space: nowrap; /* Ensure text stays in one line */
    width: auto;
    color: #dca40f; /* Set text color to yellow */
    animation: titleAnimation 60s linear infinite;
}

.moving-text-bottom {
	font-size: 5vh;
	font: "Verdana";
	font-weight: bold;
    -webkit-text-stroke: 2px #002154;
    position: absolute;
	bottom: 10%;
	margin-left: 5%;
    margin-right: 5%;
    word-wrap: break-word;
    width: auto;
    color: #000000; /* Set text color to yellow */
	opacity: 1;
    animation: contentAnimation 5s linear 3s forwards;
}

@keyframes enlargeBackground {
  from {
    background-size: 100% 150%;
  }
  to {
    background-size: 100% 200%;
  }
}

@keyframes titleAnimation {
      0% {left: -100%;} 
	  5% {left:    2%;} 
	100% {left: 100%;}
}
@keyframes contentAnimation {

}
