@import url("https://fonts.googleapis.com/css?family=Merienda+One");

body, html {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #8c9396, #d4e1e9, #8c9396);
    overflow-x: hidden; /* Prevent horizontal scrollbar due to animation */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.picture{
    max-height: 100vh; /* 100% of the viewport height */
    max-width: 100%; /* maintain aspect ratio */
    object-fit: contain; /* make sure the image is not cropped */
    padding-bottom: 0%;
    animation: movePicture 60s linear 3s forwards;
}

@keyframes movePicture {
    0%   {padding-bottom: 0%;}
    10%   {padding-bottom: 10%;}
    100% {padding-bottom: 10%;}
}

.title {
	font-family: "Frijole", system-ui;
	font-weight: 400;
	font-style: normal;
	font-size: 10vh;
	letter-spacing: -0.15em;
    position: absolute;
	top: -1%;
    white-space: nowrap; /* Ensure text stays in one line */
    width: auto;
    color: RGB(10,10,10); /* Set text color to yellow */
    animation: movingTextTitle 60s linear forwards;
}


@keyframes movingTextTitle {
      0% {left: -100%;} 
	  5% {left:    5%;} 
	100% { left: 10%;}
}

.content {
	font-size: 4vh;
	font: "Verdana";
	font-weight: bold;
    position: absolute;
	bottom: 10%;
	margin-left: 2%;
    margin-right: 2%;
    word-wrap: break-word;
    width: auto;
    color: RGB(10,10,10);
    background-image: linear-gradient(to right, #8c9396, #d4e1e9, #8c9396);
    animation: movingTextContent 60s linear infinite;
}

@keyframes movingTextContent {
      0% {bottom: -20%;}
	 25% {bottom: 0%;}
	100% {bottom: 0%;}
}


